mixin advantages(object)
    .about-section__advantages-col
        .about-section__advantages-item
            .about-section__advantages-img
                +svgIcon({name: object.icon})
            .about-section__advantages-title #{object.title}
            .about-section__advantages-text #{object.text}

section.about-section
    .container
        .about-section__inner
            .about-section__data
                .about-section__titles-wrapper
                    +sectionTitle({
                        title: '"Orhi" - это',
                        class: 'about-section__title',
                        subtitle: 'Коротко о нас',
                        subclass: 'about-section__subtitle',
                    })
                .about-section__text-wrapper
                    p Одним из основных направлений является лазерная эпиляция. В нашем центре представлены диодный и александритовый лазеры. Это – безопасные, современные и мощные системы, которые прошли обязательную сертификацию и медицинское лицензирование. На сегодняшний день аппараты, на которых работают специалисты Orhi, являются самыми востребованными и эффективными на российском и мировом рынке.
                    p Помимо этого, в центре представлен широкий спектр косметологических услуг для кожи лица: чистки, профессиональные уходы, пилинги, мезотерапия, биоревитализация, контурная пластика, ботулинотерапия, удаление сосудистой сеточки на лице и теле с помощью неодимоого лазера и многое другое. Все врачи с высшим медицинским образование прошедшие множества обучений и семинаров по косметологии, за плечами каждого специалиста большой опыт работы.
                    p  За 3 года работы более 3 500 обратившихся клиентов и более 29 000 выполненных процедур. Многие клиенты оставили положительную оценку нашей работе и стали постоянными клиентами нашего центра.
                    p «Orhi» - это не просто студия красоты. Это профессиональный медицинский центр.
                    p Современный подход к делу, уютная атмосфера, качественный сервис, вежливый персонал, доступные цены – именно так мы строим свою работу.
                    p С нами в вашей жизни всё будет гладко!
            .about-section__advantages
                +advantages({
                    icon: 'license',
                    title: 'Лицензия',
                    text: 'Медицинскую лицензию ЛО-58-01-002118'
                })
                +advantages({
                    icon: 'prof',
                    title: 'Профессиналы',
                    text: 'Процедуру выполняют врачи-косметологи'
                })
                +advantages({
                    icon: 'video',
                    title: 'Современное',
                    text: 'Лицензированное оборудование'
                })
                +advantages({
                    icon: 'likes',
                    title: '3500+',
                    text: 'Довольных клиентов'
                })
    .container
        .about-section__btn
            a(href='About.html').btn.btn--pink
                | Узнать больше