section.list-section
    .container
        .list-section__wrapper.bg-wrapper
            .list-section__inner.bg-inner
                .list-section__titles-wrapper
                    .list-section__title противоПоказания
                    .list-section__subtitle к ПРОВЕДЕНИЮ ПРОЦЕДУРЫ
                .list-section__data
                    ul.list-section__list
                        li
                            img(src='images/no-check.png').icon
                            | Простудные, воспалительные и инфекционные процессы в организме, период обострения
                        li
                            img(src='images/no-check.png').icon
                            | Заболевания щитовидной железы
                        li
                            img(src='images/no-check.png').icon
                            | Сахарный диабет (прием инсулина)
                        li
                            img(src='images/no-check.png').icon
                            | Онкологические заболевания
                        li
                            img(src='images/no-check.png').icon
                            | Заболевания крови+
                        li
                            img(src='images/no-check.png').icon
                            | Эпилепсия
                        li
                            img(src='images/no-check.png').icon
                            | Заболевания иммунной системы
                    ul.list-section__list
                        li
                            img(src='images/no-check.png').icon
                            | Дерматологические заболевания (аллергия, герпес, дерматит и пр.) - период обострения.
                        li
                            img(src='images/no-check.png').icon
                            | Период беременности
                        li
                            img(src='images/no-check.png').icon
                            | Открытые раны на месте, где должна проводиться эпиляция (ранки, ссадины, ожоги)
                        li
                            img(src='images/no-check.png').icon
                            | Хирургическое вмешательство в эпилируемую зону менее чем за 3 месяца до процедуры.
                        li
                            img(src='images/no-check.png').icon
                            | Золотые нити в месте проведения процедуры.