section.portfolio-section
    .container
        .portfolio-section__wrapper
            .portfolio-section__inner
                .portfolio-section__titles-wrapper
                    +sectionTitle({
                        title: 'наши работы',
                        class: 'portfolio-section__title',
                    })
                .portfolio-section__data
                    .portfolio-section__data-inner
                        .portfolio-section__arrow
                            .arrow-slick.arrow-prev.portfolio-section__arrow-prev
                                +svgIcon({name: 'arrow'})
                            .arrow-slick.arrow-next.portfolio-section__arrow-next
                                +svgIcon({name: 'arrow'})
                        .portfolio-section__slider
                            .portfolio-section__slider-item
                                +setImg({
                                    webp: 'images/content/portfolio-section/0-pc.webp',
                                    img: 'images/content/portfolio-section/0-pc.jpg',
                                    set: 'images/content/portfolio-section/0-mb'
                                })
                            .portfolio-section__slider-item
                                +setImg({
                                    webp: 'images/content/portfolio-section/1-pc.webp',
                                    img: 'images/content/portfolio-section/1-pc.jpg',
                                    set: 'images/content/portfolio-section/1-mb'
                                })
                            .portfolio-section__slider-item
                                +setImg({
                                    webp: 'images/content/portfolio-section/0-pc.webp',
                                    img: 'images/content/portfolio-section/0-pc.jpg',
                                    set: 'images/content/portfolio-section/0-mb'
                                })
                            .portfolio-section__slider-item
                                +setImg({
                                    webp: 'images/content/portfolio-section/1-pc.webp',
                                    img: 'images/content/portfolio-section/1-pc.jpg',
                                    set: 'images/content/portfolio-section/1-mb'
                                })
                            .portfolio-section__slider-item
                                +setImg({
                                    webp: 'images/content/portfolio-section/0-pc.webp',
                                    img: 'images/content/portfolio-section/0-pc.jpg',
                                    set: 'images/content/portfolio-section/0-mb'
                                })
                            .portfolio-section__slider-item
                                +setImg({
                                    webp: 'images/content/portfolio-section/1-pc.webp',
                                    img: 'images/content/portfolio-section/1-pc.jpg',
                                    set: 'images/content/portfolio-section/1-mb'
                                })
                            .portfolio-section__slider-item
                                +setImg({
                                    webp: 'images/content/portfolio-section/0-pc.webp',
                                    img: 'images/content/portfolio-section/0-pc.jpg',
                                    set: 'images/content/portfolio-section/0-mb'
                                })
                            .portfolio-section__slider-item
                                +setImg({
                                    webp: 'images/content/portfolio-section/1-pc.webp',
                                    img: 'images/content/portfolio-section/1-pc.jpg',
                                    set: 'images/content/portfolio-section/1-mb'
                                })
                    .portfolio-section__slider-dots