section.type-section
    .container
        .type-section__wrapper
            .type-section__inner
                .type-section__titles-wrapper
                    +sectionTitle({
                        title: 'Виды',
                        class: 'type-section__title'
                    })
            .type-section__data
                .type-section__col
                    .type-section__col-wrapper
                        .type-section__col-inner
                            .type-section__col-text
                                h3 Атравматическая чистка
                                p Это эффективная чистка лица, которая полностью исключает травмирование тканей. Однако отсутствие травмирования нисколько не снижает ее эффективности.
                                p Это - наиболее мягкий и нежный способ очистки, основанный на использовании профессиональной косметики. С помощью атравматичной чистки можно решить множество проблем кожи – избавиться от угрей, комедонов и миллиумов, нормализовать выработку кожного сала, улучшить кровообращение и обменные процессы, нейтролизовать избыточный кожный жир, увлажнить кожу, удалить загрязнения, улучшить состав секрета сальных желез.
                                p Превратив поход к косметологу в хорошую привычку, вы добьетесь постоянного эффекта идеальной, чистой, свежей и молодой кожи. Поэтому не стоит забывать, что в чистке лица, как и во всех хороших и нужных привычках, - важна регулярность!
                                p.list-title Включает в себя:
                                ul.type-section__col-list
                                    li Очищение по типу кожи
                                    li Пилинг-гоммаж (скатка) - по показаниям
                                    li Дезинфекция и разогрев кожи
                                    li Размягчение содержимого пор
                                    li Ферментативный пилинг - чистка
                                    li Постпилинговая маска по типу кожи
                                    li Тонизация
                                    li Нанесение финиш-крема
                .type-section__col
                    .type-section__col-wrapper
                        .type-section__col-inner
                            .type-section__col-text
                                h3 Механическая чистка
                                p Все-таки, иногда бывают явные показания к проведению механической чистки лица. Она проводится непосредственно руками врача, с использованием специальных инструментов. Этот вид чистки предпочитают клиенты с закупоренными порами, комедонами, угрями – так как она дает быстрый значительный эффект. Однако существует и обратная сторона такого подхода: чем чаще происходит такое глубокое «генеральное» очищение кожи – тем больше впоследствии кожа будет накапливать лишнее.
                                p Тем не менее, для явных единичных воспалений такой вид чистки иногда бывает просто необходим. Но мы еще раз хотим напомнить: если не пренебрегать регулярным атраматичным очищением кожи и решать проблему несовершенной кожи комплексно – потребность в механическом удалении загрязнений просто отпадет.
                                p.list-title Включает в себя:
                                ul
                                       li Очищение по типу кожи
                                       li Пилинг-гоммаж (скатка) - по показаниям
                                       li Дезинфекция и разогрев кожи
                                       li Пилинг (поверхностный, на основе фруктовых кислот)
                                       li Размягчение содержимого пор
                                       li Выдавливание (эвакуация) содержимого пор с помощью косметологической петли или ложечки Уно
                                       li Ферментативный пилинг - чистка
                                       li Постпилинговая маска по типу кожи
                                       li Тонизация
                                       li Нанесение финиш-крем