section.what-section
    .what-section__wrapper
        .container.position-static
            .what-section__inner
                .what-section__titles-wrapper
                    +sectionTitle({
                        title: 'Лазерная эпиляция',
                        subtitle: 'Что такое',
                        class: 'what-section__title',
                        subclass: 'what-section__subtitle',
                    })
                    .what-section__bg
                        +setImg({
                            webp: 'images/content/what-section/bg-pc.webp',
                            img: 'images/content/what-section/bg-pc.jpg',
                            set: 'images/content/what-section/bg-mb',
                            alt: 'Что такое лазерная эпиляция'
                        })
                .what-section__data
                    .what-section__data-title Это самый современный способ <br>
                        span.small удаления нежелательных волос на лице и теле
                    .what-section__data-subtitle С помощью современных медицинских лазеров это можно сделать быстро и безболезненно - и закрыть вопрос лишней растительности на долгие годы!
                    .what-section__data-strong Только представьте! <br>
                        span.small Теперь можно
                        span  навсегда распрощаться с:
                    .what-section__data-list
                        li Вросшими волосами <span>, </span>
                        li Раздражением <span>, </span>
                        li Жесткой отрастающей щетиной <span>, </span>
                        li Аллергическими реакциями <span>, </span>
                        li Болью <span>, </span>
                        li Отращиванием волос
                    .what-section__data-text
                        p Уже после первой процедуры с обработанной зоны исчезнет до 30% всех волос! И с каждым разом – их будет становиться все меньше!
                        p Полный же курс лазерной эпиляции варьируется в зависимости от того, на каком именно аппарате вы его проходите.
                        p Так, курс эпиляции на диодном лазере в среднем длится 9-10 процедур, а на александритовом лазере – 6-7 процедур.
                        p Для того, чтобы подобрать аппарт конкретно для вашего фототипа кожи и структуры волосков – приглашаем вас на очную консультацию к нашим специалистам – врачам-косметологам.
                        p Станьте счастливой обладательницей идеально гладкой кожи. Пусть не будет ничего лишнего!
                    .what-section__btn
                        a(href='Laser-ep.html').btn.btn--pink Подробнее