extends base/_layout
block head
    title О нашем центре в Пензе - Orhi
    meta(property="og:title" content='О нашем центре в Пензе - Orhi')

    meta(name="keywords" content='orhi, пенза orhi, орхи, лазерная эпиляция, центр orhi, салон orhi, отзывы об orhi, orhi отзывы, медицинский центр, косметология')

    meta(name="description" content='Orhi - это врачи с высшим медицинским образованием. Самые безопасные и мощные системы лазерной эпиляции. Скидочные карты - карта даёт скидку на весь прайс 70%.')
    meta(property="og:description" content='Orhi - это врачи с высшим медицинским образованием. Самые безопасные и мощные системы лазерной эпиляции. Скидочные карты - карта даёт скидку на весь прайс 70%.')

    meta(property="og:url" content='https://orhi-epil.ru/About.html')

block page
    section.intro-section
        .container
            .intro-section__wrapper
                .intro-section__breadcumps
                    +breadcrumbs([{text: 'Главная', link: 'index.html'}], 'о нашщем центре')
                .intro-section__titles-wrapper
                    +sectionTitle({
                        title: 'О  нашем центре?',
                        class: 'intro-section__title',
                    })
                .intro-section__inner
                    .intro-section__img
                        +setImg({
                            webp: 'images/content/intro-section/About/0-pc.webp',
                            img: 'images/content/intro-section/About/0-pc.jpg',
                            set: 'images/content/intro-section/About/0-mb'
                        })
                    .intro-section__data
                        .intro-section__text
                            p Медицинский центр косметологии «Orhi» открылся в марте 2018-ого года.
                            p С самого начала мы оказывали только услуги лазерной эпиляции, однако в перспективе планировали расширение спектра эстетических процедур.
                            p Своим главным приоритетом в работе мы всегда считали максимально высокое качество процедур при доступных ценах. Нам хотелось повысить культуру предоставления услуг эпиляции (а далее – косметологии в целом) в родном городе.
                            p Поэтому наш подход сразу соответствовал выбранной нами стратегии развития.
                            p Клиника перед началом официального открытия получает медицинскую лицензию, проходит все необходимые проверки. Мы закупаем сразу два медицинских профессиональных лазера для эпиляции: диодный и александритовый.
                            p Помимо этого, в штате центра работают только сотрудники с медицинским образованием: врачи дерматовенерологи-косметологи и медицинская сестра с дополнительной квалификацией в косметологии и стажем работы в медицине более 12 лет. Однако медицинское образование и опыт работы – не причина стагнировать развитие. Все сотрудики центра регулярно получают дополнительную квалификацию, повышают навыки, отрабатывают актуальные косметологические техники и проходят профильные обучения.
                            p В 2019 году мы открываем два дополнительных косметологических кабинета – и расширяем спектр услуг клиники.
                            p Вводим эстетические процедуры для лица, инъекционную косметологию, миоструктурный массаж.
                            p Для нас важен рациональный и комплексный подход к решению проблем и закрытию «болей» наших пациентов. Поэтому врачи-ксометологи медицинского центра «Orhi» также выбирают стратегический подход к косметологическим курсам.
                            p К примеру, решая проблему акне, мало ограничиться одной чисткой лица. Врач назначает целый комплекс необходимых кабинетных и домашних процедур, а также грамотный ежедневный уход для кожи.
                            p Всю назначаемую косметику можно приобрести непосредственно в нашем центре – большой выбор профессиональных средств в наличии.
                            p Мы не стоим на месте – и планируем еще расширить комплекс услуг, в частности ввести медицинские аппаратные техники косметологического ухода.
                            p Для всего коллектива косметологического центра «Orhi» действительно важны высокое качество услуг, достойный сервис, трепетный подход к каждому клиенту.
                            p Мы всегда рады новым гостям – и надеемся, что вы тоже станете нашим постоянным клиентом.
    section.equipment-section.remove--mobile
        .container
            .equipment-section__title
                h2.title Наше оборудование
            .equipment-section__data
                .equipment-section__col
                    .equipment-section__col-inner.flex-start
                        .equipment-section__col-img
                            picture
                                source(srcset='images/content/equipment-section/0.webp' media="(min-width: 767px)" alt='Диодный лазер "ORHI"' type='image/webp')
                                source(srcset='images/content/equipment-section/0-mb' + '.webp' media="(min-width: 0) and (max-width: 767px)" alt='Диодный лазер "ORHI"' type='image/webp')
                                img(src='images/content/equipment-section/0.png' srcset='images/content/equipment-section/0-mb.png' + ' 767w' alt='Диодный лазер "ORHI"')
                        .equipment-section__col-data
                            .equipment-section__col-subtitle
                                | Диодный лазер
                            .equipment-section__col-title
                                | MAGIC One Melsytech
                            .equipment-section__col-text
                                | Рег. Удостоверение Росздравнадзора MAGIC ONE - РЗНТ2014/1953
                            .equipment-section__col-listWrapper
                                ul.equipment-section__col-list
                                    li Универсальная длина длины для удаления волос любого цвета (кроме седых и пушковых)
                                    li Лазер подходит для кожи разных фототипов (I-IV)
                                    li Контактное охлаждение для комфортной эпиляции
                                    li Сапфировое стекло на манипуле
                                    li Большая площадь воздействия луча, что позволяет сократить время процедуры
                    .description.silver
                        .description__wrapper
                            .description__btn.active-mobile
                                | Подробнее
                                +svgIcon({name: 'arrow'})
                            .description__text.active
                                p <span>Elite+</span> совмещает в себе сразу два популярных лазера – александритовый и неодимовый.
                                p С помощью александрита – проводится процедура лазерной эпиляции, а с помощью неодима – коррекция сосудистой сеточки на лице и теле.
                                p Александритовый лазер считается мировым «золотым стандартом» в эпиляции, так как на сегодняшний день – это самый эффективный способ лазерного удаления волос.
                                p Благодаря эффективности лазера сокращается общее количество процедур, которые надо сделать для полного исчезновения волос. Средний курс составляет 5-7 процедур.
                                p CynoSure – это американская медицинская лазерная система. Имеет одобрение FDA (американское управление по санитарному надзору за качеством пищевых продуктов и медикаментов), также лазер прошел сертификацию в РФ.
                                p <span>Преимущества</span>
                                p Особенностью александритового лазера является то, что он помогает эффективно бороться также и с вросшими волосами. Лазер действует на фолликул – соответственно, вросший волосок также теряет способность к росту.
                                p Процедура лазерной эпиляции проходит очень быстро: стандартно для удаления волос на лице или в области подмышек требуется не более 15 минут, в области ног, спины — не более 30 минут.
                                p Кроме того, современное оборудование позволяет сделать процедуру довольно комфортной — за счет использования высокой скорости, точной дозы лазерного излучения и мощной системы охлаждения.
                                p <span>Результат</span>
                                p В ходе процедуры безвозвратно удаляются 98% волос в фазе активного роста. Причем волосы «горят» прямо в ходе процедуры. И спустя 2-3 недели оставшиеся стержни волосков выходят наружу в ходе обменных процессов организма.
                                p Для большинства людей после прохождения курса проблема нежелательных волос решается на долгие годы, для некоторых — навсегда. Через несколько лет при повышенном содержании гормона, отвечающего за рост волос, могут появляться отдельные волоски. Для их удаления будет достаточно 1 сеанса в год.

                .equipment-section__col
                    .equipment-section__col-inner.flex-start
                        .equipment-section__col-img
                            picture
                                source(srcset='images/content/equipment-section/1.webp' media="(min-width: 767px)" alt='Диодный лазер "ORHI"' type='image/webp')
                                source(srcset='images/content/equipment-section/1-mb' + '.webp' media="(min-width: 0) and (max-width: 767px)" alt='Диодный лазер "ORHI"' type='image/webp')
                                img(src='images/content/equipment-section/1.png' srcset='images/content/equipment-section/1-mb.png' + ' 767w' alt='Диодный лазер "ORHI"')
                        .equipment-section__col-data
                            .equipment-section__col-subtitle
                                | Александритовый лазер
                            .equipment-section__col-title
                                | Cynosure Elite+ (USA)
                            .equipment-section__col-text
                                | Рег. Удостоверение Росздравнадзора CynoSure Elite+ - ФЗС2009/04154
                            .equipment-section__col-listWrapper
                                ul.equipment-section__col-list
                                    li «Золотой мировой стандарт» в лазерной эпиляции
                                    li Самая современная и популярная лазерная платформа в мире
                                    li Мощная бесконтактная система охлаждения
                                    li Всего за одну процедуру эффективно удаляет до 98% волос в стадии активного роста
                                    li Мощность лазера позволяет сократить курс вдвое
                    .description.silver
                        .description__wrapper
                            .description__btn.active-mobile
                                | Подробнее
                                +svgIcon({name: 'arrow'})
                            .description__text.active
                                p <span>Elite+</span> совмещает в себе сразу два популярных лазера – александритовый и неодимовый.
                                p С помощью александрита – проводится процедура лазерной эпиляции, а с помощью неодима – коррекция сосудистой сеточки на лице и теле.
                                p Александритовый лазер считается мировым «золотым стандартом» в эпиляции, так как на сегодняшний день – это самый эффективный способ лазерного удаления волос.
                                p Благодаря эффективности лазера сокращается общее количество процедур, которые надо сделать для полного исчезновения волос. Средний курс составляет 5-7 процедур.
                                p CynoSure – это американская медицинская лазерная система. Имеет одобрение FDA (американское управление по санитарному надзору за качеством пищевых продуктов и медикаментов), также лазер прошел сертификацию в РФ.
                                p <span>Преимущества</span>
                                p Особенностью александритового лазера является то, что он помогает эффективно бороться также и с вросшими волосами. Лазер действует на фолликул – соответственно, вросший волосок также теряет способность к росту.
                                p Процедура лазерной эпиляции проходит очень быстро: стандартно для удаления волос на лице или в области подмышек требуется не более 15 минут, в области ног, спины — не более 30 минут.
                                p Кроме того, современное оборудование позволяет сделать процедуру довольно комфортной — за счет использования высокой скорости, точной дозы лазерного излучения и мощной системы охлаждения.
                                p <span>Результат</span>
                                p В ходе процедуры безвозвратно удаляются 98% волос в фазе активного роста. Причем волосы «горят» прямо в ходе процедуры. И спустя 2-3 недели оставшиеся стержни волосков выходят наружу в ходе обменных процессов организма.
                                p Для большинства людей после прохождения курса проблема нежелательных волос решается на долгие годы, для некоторых — навсегда. Через несколько лет при повышенном содержании гормона, отвечающего за рост волос, могут появляться отдельные волоски. Для их удаления будет достаточно 1 сеанса в год.
    section.equipment-section.active-mobile
        .container
            .equipment-section__title
                h2.title Наше оборудование
            .equipment-section__data
                .equipment-section__col
                    .equipment-section__col-inner
                        .equipment-section__col-img
                            picture
                                source(srcset='images/content/equipment-section/0.webp' media="(min-width: 767px)" alt='Диодный лазер "ORHI"' type='image/webp')
                                source(srcset='images/content/equipment-section/0-mb' + '.webp' media="(min-width: 0) and (max-width: 767px)" alt='Диодный лазер "ORHI"' type='image/webp')
                                img(src='images/content/equipment-section/0.png' srcset='images/content/equipment-section/0-mb.png' + ' 767w' alt='Диодный лазер "ORHI"')
                        .equipment-section__col-data
                            .equipment-section__col-subtitle
                                | Диодный лазер
                            .equipment-section__col-title
                                | MAGIC One Melsytech
                            .equipment-section__col-text
                                | Рег. Удостоверение Росздравнадзора MAGIC ONE - РЗНТ2014/1953
                            .equipment-section__col-listWrapper
                                ul.equipment-section__col-list
                                    li Универсальная длина длины для удаления волос любого цвета (кроме седых и пушковых)
                                    li Лазер подходит для кожи разных фототипов (I-IV)
                                    li Контактное охлаждение для комфортной эпиляции
                                    li Сапфировое стекло на манипуле
                                    li Большая площадь воздействия луча, что позволяет сократить время процедуры
                                .description
                                    .description__wrapper
                                        .description__btn
                                            | Подробнее
                                            +svgIcon({name: 'arrow'})
                                        .description__text
                                            p <span>Elite+</span> совмещает в себе сразу два популярных лазера – александритовый и неодимовый.
                                            p С помощью александрита – проводится процедура лазерной эпиляции, а с помощью неодима – коррекция сосудистой сеточки на лице и теле.
                                            p Александритовый лазер считается мировым «золотым стандартом» в эпиляции, так как на сегодняшний день – это самый эффективный способ лазерного удаления волос.
                                            p Благодаря эффективности лазера сокращается общее количество процедур, которые надо сделать для полного исчезновения волос. Средний курс составляет 5-7 процедур.
                                            p CynoSure – это американская медицинская лазерная система. Имеет одобрение FDA (американское управление по санитарному надзору за качеством пищевых продуктов и медикаментов), также лазер прошел сертификацию в РФ.
                                            p <span>Преимущества</span>
                                            p Особенностью александритового лазера является то, что он помогает эффективно бороться также и с вросшими волосами. Лазер действует на фолликул – соответственно, вросший волосок также теряет способность к росту.
                                            p Процедура лазерной эпиляции проходит очень быстро: стандартно для удаления волос на лице или в области подмышек требуется не более 15 минут, в области ног, спины — не более 30 минут.
                                            p Кроме того, современное оборудование позволяет сделать процедуру довольно комфортной — за счет использования высокой скорости, точной дозы лазерного излучения и мощной системы охлаждения.
                                            p <span>Результат</span>
                                            p В ходе процедуры безвозвратно удаляются 98% волос в фазе активного роста. Причем волосы «горят» прямо в ходе процедуры. И спустя 2-3 недели оставшиеся стержни волосков выходят наружу в ходе обменных процессов организма.
                                            p Для большинства людей после прохождения курса проблема нежелательных волос решается на долгие годы, для некоторых — навсегда. Через несколько лет при повышенном содержании гормона, отвечающего за рост волос, могут появляться отдельные волоски. Для их удаления будет достаточно 1 сеанса в год.

                .equipment-section__col
                    .equipment-section__col-inner
                        .equipment-section__col-img
                            picture
                                source(srcset='images/content/equipment-section/1.webp' media="(min-width: 767px)" alt='Диодный лазер "ORHI"' type='image/webp')
                                source(srcset='images/content/equipment-section/1-mb' + '.webp' media="(min-width: 0) and (max-width: 767px)" alt='Диодный лазер "ORHI"' type='image/webp')
                                img(src='images/content/equipment-section/1.png' srcset='images/content/equipment-section/1-mb.png' + ' 767w' alt='Диодный лазер "ORHI"')
                        .equipment-section__col-data
                            .equipment-section__col-subtitle
                                | Александритовый лазер
                            .equipment-section__col-title
                                | Cynosure Elite+ (USA)
                            .equipment-section__col-text
                                | Рег. Удостоверение Росздравнадзора CynoSure Elite+ - ФЗС2009/04154
                            .equipment-section__col-listWrapper
                                ul.equipment-section__col-list
                                    li «Золотой мировой стандарт» в лазерной эпиляции
                                    li Самая современная и популярная лазерная платформа в мире
                                    li Мощная бесконтактная система охлаждения
                                    li Всего за одну процедуру эффективно удаляет до 98% волос в стадии активного роста
                                    li Мощность лазера позволяет сократить курс вдвое
                                .description
                                    .description__wrapper
                                        .description__btn
                                            | Подробнее
                                            +svgIcon({name: 'arrow'})
                                        .description__text
                                            p <span>Elite+</span> совмещает в себе сразу два популярных лазера – александритовый и неодимовый.
                                            p С помощью александрита – проводится процедура лазерной эпиляции, а с помощью неодима – коррекция сосудистой сеточки на лице и теле.
                                            p Александритовый лазер считается мировым «золотым стандартом» в эпиляции, так как на сегодняшний день – это самый эффективный способ лазерного удаления волос.
                                            p Благодаря эффективности лазера сокращается общее количество процедур, которые надо сделать для полного исчезновения волос. Средний курс составляет 5-7 процедур.
                                            p CynoSure – это американская медицинская лазерная система. Имеет одобрение FDA (американское управление по санитарному надзору за качеством пищевых продуктов и медикаментов), также лазер прошел сертификацию в РФ.
                                            p <span>Преимущества</span>
                                            p Особенностью александритового лазера является то, что он помогает эффективно бороться также и с вросшими волосами. Лазер действует на фолликул – соответственно, вросший волосок также теряет способность к росту.
                                            p Процедура лазерной эпиляции проходит очень быстро: стандартно для удаления волос на лице или в области подмышек требуется не более 15 минут, в области ног, спины — не более 30 минут.
                                            p Кроме того, современное оборудование позволяет сделать процедуру довольно комфортной — за счет использования высокой скорости, точной дозы лазерного излучения и мощной системы охлаждения.
                                            p <span>Результат</span>
                                            p В ходе процедуры безвозвратно удаляются 98% волос в фазе активного роста. Причем волосы «горят» прямо в ходе процедуры. И спустя 2-3 недели оставшиеся стержни волосков выходят наружу в ходе обменных процессов организма.
                                            p Для большинства людей после прохождения курса проблема нежелательных волос решается на долгие годы, для некоторых — навсегда. Через несколько лет при повышенном содержании гормона, отвечающего за рост волос, могут появляться отдельные волоски. Для их удаления будет достаточно 1 сеанса в год.

    section.map-section
        .container
            .map-section__wrapper
                .map-section__inner
                    +sectionTitle({
                        title: 'Как нас найти',
                        class: 'map-section__title',
                    })
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2390.417081699457!2d45.01314861597226!3d53.192435793929334!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x414100580bba8691%3A0x77e5782e0dbeff74!2z0YPQuy4g0JzQsNC60YHQuNC80LAg0JPQvtGA0YzQutC-0LPQviwgNDEsINCf0LXQvdC30LAsINCf0LXQvdC30LXQvdGB0LrQsNGPINC-0LHQuy4sIDQ0MDAwMA!5e0!3m2!1sru!2sru!4v1617727849165!5m2!1sru!2sru" width="1650" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

