extends base/_layout
block head
    title Лазерная эпиляция подмышек в Пензе. Удаление волос навсегда - Orhi
    meta(property="og:title" content='Лазерная эпиляция подмышек в Пензе. Удаление волос навсегда - Orhi')

    meta(name="keywords" content='подмышки, лазерная, эпиляция')

    meta(name="description" content='Лазерная эпиляция подмышек ☆ Orhi ☆ Гарантия качества и доступные цены в Пензе! ☎ 8 (8412) 99-41-31')
    meta(property="og:description" content='Лазерная эпиляция подмышек ☆ Orhi ☆ Гарантия качества и доступные цены в Пензе! ☎ 8 (8412) 99-41-31')

    meta(property="og:url" content='https://orhi-epil.ru/ArmpitLaserHairRemoval.html')
block page
    - var breadcumps    = [{text: 'Главная', link: 'index.html'}, {text: 'лазерная эпиляция', link: 'laser-ep.html'}]
    - var breadcumpsCurrent = 'Лазерная эпиляция подмышек'

    - var title         = 'Все нюансы'
    - var subtitle      = 'лазерная эпиляция подмышек'

    - var list01        = '<span>1.</span> Лазерную эпиляцию зоны подмышек (впрочем, как и любой другой) следует делать только на медицинском лазере и в специализированном центре с лицензией. Это – залог качественной и безопасной эпиляции.'
    - var list02        = 'Если вы пренебрегли этим правилом – не стоит удивляться, что волосы не выпали, и вы совсем не видите эффекта.'
    - var list03        = '<span>2.</span> Лазерная эпиляция подмышек – это курсовая процедура. Да, уже после первой процедуры вы заметите, что волосы стали расти медленнее и реже. Но спустя время – волоски, находящиеся ранее в фазе сна, - перейдут в фазу роста. И будет казаться, что все стало, как прежде. Однако это не так. Эффект от лазерной эпиляции – накопительный. Нужно пройти полный курс, чтобы полностью избавиться от волос.'
    - var list04        = '<span>3.</span> Лазер действует на волосы, которые находятся в стадии активного роста. Таких волос - около 30%. Именно поэтому важно проходить полный курс, чтобы избавиться от всех волос на зоне обработки.'
    - var list05        = '<span>4.</span> В зависимости от лазера, который вам назначен – количество процедур в курсе будет меняться. Так, на диодном лазере средний курс составит 10-12 процедур, а на александрите 5-7 процедур.'
    - var list11        = '<span>5.</span> Обратите внимание! Подмышечные впадины – это гормонозависимая зона. В связи с этим количество процедур в курсе может возрасти. Это зависит от индивидуальных особенностей вашего организма.'
    - var list12        = '<span>6.</span> Беременность – является противопоказанием к эпиляции подмышек. '
    - var list13        = '<span>7.</span> А вот лактация – не мешает прохождению курса.'
    - var list14        = '<span>8.</span> Подготовка к процедуре также будет меняться в зависимости от выбранного вами лазера. Для эпиляции на диодном лазере – нужна гладко выбритая кожа, а на александритовом лазере – необходимы волоски длиной 1-2 мм.'
    - var list15        = '<span>9.</span> Свежий загар – абсолютное противопоказание для лазерной эпиляции.'
    - var list16        = '<span>10.</span> Обработка зоны подмышек длится всего 5-10 минут.'
    - var list17        = '<span>11.</span> Чем светлее кожа и темнее волосок – тем эффективнее процедура лазерной эпиляции.'
    - var list18        = '<span>12.</span> Лазерная эпиляция подмышек – безболезненная процедура, которая не требует анестезии.'

    - var list0         = [list01, list02, list03, list04, list05]
    - var list1         = [list11, list12, list13, list14, list15, list16, list17, list18]

    - var message       = 'Также в течение трех дней после эпиляции подмышек нужно воздержаться от использования скрабов и любой спиртосодержащей косметики. '

    - var data = {type: 'numberText', breadcumps: breadcumps, breadcumpsCurrent: breadcumpsCurrent, cur: cur, title: title, subtitle: subtitle, list0: list0, list1: list1, message: message}
    include section/intro-section

    - var infoList1     = {title: 'Можно ли совмещать лазерную эпиляцию подмышек с другими зонами?', text: 'Да, можно, это безопасно.'}
    - var infoList2     = {title: 'Какой лазер выбрать – александритовый или диодный?', text: 'Оба лазера эффективны. Выбирайте совместно с вашим врачом-косметологом.'}
    - var infoList3     = {title: 'Если я делала до этого шугаринг, мне можно начать курс лазерной эпиляции?', text: 'Да, можно. Но стоит подождать 14 дней после последней процедуры сахарной депиляции.'}
    - var info = [infoList1, infoList2, infoList3]
    - var data = {info: info}
    include section/info-section

    - var price1 = {title: 'Зона лобка <span>(для женщин)</span>', price1: '2200 ₽', price2: '*600 ₽', price3: '4400 ₽', price4: '*1320 ₽'}
    - var price2 = {title: 'Зона лобка <span>(для мужчин)</span>', price1: '2800 ₽', price2: '*840 ₽', price3: '5600 ₽', price4: '*1680 ₽'}
    - var price3 = {title: 'Бикини неглубокое <span>(по линии белья)</span>', price1: '3300 ₽', price2: '*990 ₽', price3: '6600 ₽', price4: '*1980 ₽'}
    - var price4 = {title: 'Бикини глубокое <span>(для женщин)**</span>', price1: '4600 ₽', price2: '*1380 ₽', price3: '9200 ₽', price4: '*2760 ₽'}
    - var price5 = {title: 'Бикини глубокое <span>(для мужчин)</span>', price1: '5400 ₽', price2: '*1620 ₽', price3: '10800 ₽', price4: '*3240 ₽'}
    - var price6 = {title: 'Бикини "экстра" <span>(половые губы, межъягодичная складка)</span>', price1: '2700 ₽', price2: '*810 ₽', price3: '5400 ₽', price4: '*1620 ₽'}

    - var price = [price1, price2, price3, price4, price5, price6]
    - var data = {type: 'col', price: price}
    include section/price-section
    .button-center
        a.btn.btn--pink.open-price-popup Подробнее о скидочной карте
