extends base/_layout
block head
    title Лазерное омоложение (биоревитализация) Elit+
    meta(property="og:title" content='О нашем центре в Пензе - Orhi')

    meta(name="keywords" content='orhi, пенза orhi, орхи, лазерная эпиляция, центр orhi, салон orhi, отзывы об orhi, orhi отзывы, медицинский центр, косметология')

    meta(name="description" content='Orhi - это врачи с высшим медицинским образованием. Самые безопасные и мощные системы лазерной эпиляции. Скидочные карты - карта даёт скидку на весь прайс 70%.')
    meta(property="og:description" content='Orhi - это врачи с высшим медицинским образованием. Самые безопасные и мощные системы лазерной эпиляции. Скидочные карты - карта даёт скидку на весь прайс 70%.')

    meta(property="og:url" content='https://orhi-epil.ru/About.html')

block page
    section.intro-section
        .container
            .intro-section__wrapper
                .intro-section__breadcumps
                    +breadcrumbs([{text: 'Главная', link: 'index.html'}], 'Лазерное омоложение Elit+')
                .intro-section__inner
                    .intro-section__img
                        +setImg({
                            webp: 'images/content/BiorevitalizationLaser/0-pc.webp',
                            img: 'images/content/BiorevitalizationLaser/0-pc.jpg',
                            set: 'images/content/BiorevitalizationLaser/0-mb'
                        })
                    .intro-section__data
                        .intro-section__titles-wrapper
                            +sectionTitle({
                                title: 'Лазерное омоложение Elit+',
                                class: 'intro-section__title',
                                subtitle: 'Биоревитализация',
                                subclass: 'intro-section__subtitle'
                            })
                        .intro-section__text
                            p Современная косметология предоставляет широкий спектр возможностей для сохранения и продления молодости кожи лица. Но не каждая девушка или женщина готова терпеть боль от инъекций и идти на радикальные меры, чтобы поддержать тонус и красоту.
                            p Уколы, хирургические методики, агрессивные воздействия лазерными аппаратами – подчас это внушает страх и ужас.
                            p К счастью, прогресс не стоит на месте.
                            p С помощью современных медицинских лазерных систем – стало доступно безболезненное и эффективное омоложение кожи.
                            p Как раз такую процедуру мы оказываем в клинике «Orhi».
                            h3 Лазерное омоложение без уколов и боли.
                            p Это действительно уникальная процедура лазерного омоложения. Она выполняется на американском неодимовом лазере Elite+.
                            p В ходе процедуры происходит воздействие лазерного луча на низкомолекулярную гиалуроновую кислоту, которая предварительно наносится на лицо. Таким образом препарат попадает в глубокие слои кожи. А благодаря прогреву тканей – достигается особый эстетический эффект, который заметен сразу после процедуры.

    //section.questions-section
    //    .container
    //        .questions-section__wrapper.bg-wrapper
    //            .questions-section__inner.bg-inner
    //                .questions-section__titles-wrapper
    //                    +sectionTitle({
    //                        title: 'Лазерное омоложение без уколов и боли.',
    //                        class: 'questions-section__title title--small',
    //                    })
    //                .questions-section__text
    //                    p Это действительно уникальная процедура лазерного омоложения. Она выполняется на американском неодимовом лазере Elite+.
    //                    p В ходе процедуры происходит воздействие лазерного луча на низкомолекулярную гиалуроновую кислоту, которая предварительно наносится на лицо. Таким образом препарат попадает в глубокие слои кожи. А благодаря прогреву тканей – достигается особый эстетический эффект, который заметен сразу после процедуры.
    - var cartTitle = 'Как проходит'
    - var cartSubtitle = 'сеанс омоложения'

    - var text1 = 'Врач проводит процедуру демакияжа и дезинфекции кожи. Сразу после – наносит на кожу гель с гиалуроновой кислотой.'
    - var text2 = 'Перед процедурой пациент в строго обязательном порядке надевает специальные защитные очки на глаза.'
    - var text3 = 'После предварительной подготовки – начинается непосредственная работа лазера.'
    - var text4 = 'Вы чувствуете приятное тепло, умеренный прогрев.'
    - var text5 = 'Процедура лазерного омоложения занимает в общей сложности около 20 минут.'
    - var texts = [text1, text2, text3, text4, text5]

    - var cart1 = [{texts: texts, title: cartTitle, subtitle: cartSubtitle, styleType: 'check'}]

    - var cartTitle = 'когда виден эффект'

    - var text1 = 'Эффект от проведенной процедуры заметен уже после первого сеанса.'
    - var text2 = 'Более того, ее можно выполнять «на выход» - перед важными мероприятиями, к примеру.'
    - var text3 = 'После работы лазера кожа становится ровной, подтянутой, с легким румянцем, напитанной, увлажненной, светящейся.'
    - var text4 = 'Но все же лазерное омоложение рекомендуется выполнять курсом, чтобы продлит и усилить эффект.'
    - var text5 = 'Средний курс составляет 5-10 процедур с интервалом 1-2 недели.'
    - var texts = [text1, text2, text3, text4, text5]

    - var cart2 = [{texts: texts, title: cartTitle}]

    - var cartTitle = 'Показания'
    - var cartSubtitle = 'к ПРОВЕДЕНИЮ ПРОЦЕДУРЫ'

    - var list1 = 'фотостарение'
    - var list2 = 'морщины'
    - var list3 = 'повышенная сухость кожи'
    - var list4 = 'повышенная жирность кожи'
    - var list5 = 'расширенные поры'
    - var list6 = 'тусклый цвет лица'
    - var list7 = 'потребность в быстрой регенерации кожи (после пилингов, шлифовок и т.д.)'
    - var list = [list1, list2, list3, list4, list5, list6, list7]
    - var text1 = ' Во время сеанса вы  не почувствуете никакого дискомфорта - только приятное умеренное тепло. '
    - var text2 = ' А по окончании - коже не грозит шелушение и негативное воздействие ультрафиолета. '
    - var texts = [text1, text2]

    - var cart3 = [{lists: list,title: cartTitle, subtitle: cartSubtitle, styleType: 'check'}, {texts: texts}]

    - var cartsData = [cart1, cart2, cart3]

    include section/cart-section

    section
        .container
            .intro-section__titles-wrapper
                div(class='intro-section__title' style='text-align: center;')
                    div.subtitle Лазерное омоложение Elit+
                div(class='intro-section__subtitle' style='text-align: center;')
                    h2.title  это уникальная <br> эстетическая процедура
            div.erer
                span без боли
                span без уколов
                span без папул
                span без шелушения
                span без восстановления
    section.price-section
        .container
            .price-section__table-wrapper.style-4.style-3
                .price-section__table-inner
                    .price-section__data-wrapper.style-4
                        .price-section__data-col.mobile-100(style='width: 100%')
                            .price-section__titles-wrapper
                                +sectionTitle({
                                    title: 'Стоимость процедур',
                                    subtitle: 'Лазерное омоложение Elit+ ',
                                    class: 'price-section__title',
                                    subclass: 'price-section__subtitle'
                                })
                            .price-section__data.style-4.style-3
                                +priceRow4({
                                    left: '<span>Зона лица</span>',
                                    right: '<span class="active-color">4800 ₽</span>'
                                })
                                +priceRow4({
                                    left: '<span>Зона лица, шеи и декольте </span>',
                                    right: '<span class="active-color">7200 ₽</span>'
                                })
mixin priceRow4(object)
    .price-section__row
        .price-section__col.price-section__col-left !{object.left}
        .price-section__col.price-section__col-right !{object.right}
mixin priceRowClean4(object)
    .price-section__row.flex-start
        .price-section__col.price-section__col-left !{object.left}
mixin yesList(object)
    li.close
        img(src="images/yes-check--white.png").icon
        span !{object.text}