extends base/_layout
block head
    title Лазерное омоложение (биоревитализация) Elit+
    meta(property="og:title" content='О нашем центре в Пензе - Orhi')

    meta(name="keywords" content='orhi, пенза orhi, орхи, лазерная эпиляция, центр orhi, салон orhi, отзывы об orhi, orhi отзывы, медицинский центр, косметология')

    meta(name="description" content='Orhi - это врачи с высшим медицинским образованием. Самые безопасные и мощные системы лазерной эпиляции. Скидочные карты - карта даёт скидку на весь прайс 70%.')
    meta(property="og:description" content='Orhi - это врачи с высшим медицинским образованием. Самые безопасные и мощные системы лазерной эпиляции. Скидочные карты - карта даёт скидку на весь прайс 70%.')

    meta(property="og:url" content='https://orhi-epil.ru/About.html')

block page
    section.intro-section
        .container
            .intro-section__wrapper
                .intro-section__breadcumps
                    +breadcrumbs([{text: 'Главная', link: 'index.html'}], 'Лазерное омоложение Elit+')
                .intro-section__inner
                    .intro-section__img
                        +setImg({
                            webp: 'images/content/intro-section/laserRejuvenation/0-pc.webp',
                            img: 'images/content/intro-section/laserRejuvenation/0-pc.jpg',
                            set: 'images/content/intro-section/laserRejuvenation/0-mb'
                        })
                    .intro-section__data
                        .intro-section__titles-wrapper
                            +sectionTitle({
                                title: 'пигментных пятен Elit+',
                                class: 'intro-section__title',
                                subtitle: 'Лазерное удаление',
                                subclass: 'intro-section__subtitle',
                            })
                        .intro-section__text
                            p Хочется начать с того, что пигментные пятна – чаще всего абсолютно безвредное явление для кожи. Они выделяются более темным цветом и могут локализоваться на любом участке лица и тела.
                            p Гиперпигментация встречается как у мужчин, так и у женщин, в любом возрасте.
                            p Однако чаще всего с таким явлением сталкиваются зрелые и пожилые люди.
                            h3 Почему появляется пигментация?
                            p Основных причин несколько:
                            ul
                                li Генетическая предрасположенность
                                li Злоупотребление загаром
                                li Прием гормональных лекарств
                                li Пренебрежение солнцезащитными средствами
                                li Несоблюдение рекомендаций по уходу за кожей после косметологических процедур
                            br
                            p Пигментные пятна можно удалять различными способами. Эффективными процедурами, которые дают стойкий и видимый результат, являются: химический пилинг, мезотерапия, биоревитализация, отбеливающие маски.
                            p В клинике «Orhi» также доступна новая процедура по удалению пигментных пятен – лазерная коррекция Elit+. Уже после первой обработки – виден явный эффект осветления. А в случае, если пигментное пятно умеренно яркое – дополнительной коррекции и вовсе не понадобится.

    - var cartTitle = 'Как происходит'
    - var cartSubtitle = 'Процедура. '

    - var text1 = 'Процедура удаления пигментных пятен проходит на медицинском лазерном аппарате.'
    - var text2 = 'В ходе работы лазера вы чувствуете умеренное тепло.'
    - var text3 = 'Луч воздействует на участок кожи с повышенным содержанием меланина – тем самым осветляя его.'
    - var text4 = 'Коррекция проходит быстро и комфортно. Для защиты глаз все время процедуры пациент находится в специальных очках.'
    - var texts = [text1, text2, text3, text4]

    - var cart1 = [{texts: texts, title: cartTitle, subtitle: cartSubtitle, styleType: 'check'}]

    - var cartTitle = 'ПРЕИМУЩЕСТВА'
    - var cartSubtitle = 'ЛАЗЕРНОГО УДАЛЕНИЯ ПИГМЕНТНЫХ ПЯТЕН ELIT+.'

    - var list1 = 'почти полное отсутствие противопоказаний'
    - var list2 = 'отсутствие реабилитации'
    - var list3 = 'безболезненность'
    - var list4 = 'отсутствие побочных реакций'
    - var list5 = 'эффективность и стойкий эффект'
    - var list = [list1, list2, list3, list4, list5]

    - var cart2 = [{lists: list, title: cartTitle, subtitle: cartSubtitle, styleType: 'check'}]

    - var cartTitle = 'Рекомендации'
    - var cartSubtitle = 'и уход за кожей после'

    - var text1 = 'Чтобы эффект после лазерного удаления гиперпигментации продлился как можно дольше – нужно соблюдать ряд простых правил по уходу за кожей.'
    - var texts = [text1]
    - var list21 = 'Избегать солнечного воздействия на обработанную зону на срок 30 дней.'
    - var list22 = 'Пользоваться солнцезащитными средствами с фактором защиты 50+'
    - var list23 = 'Не посещать сауну и баню в течение двух недель.'
    - var list24 = 'После приема душа – не тереть кожу, а промакивать полотенцем.'
    - var list25 = 'Не пользоваться спиртосодержащей косметикой в течение 14 дней после процедуры.'
    - var lists2 = [list21, list22, list23, list24, list25]

    - var cart3 = [{title: cartTitle, subtitle: cartSubtitle, styleType: 'check'}, {texts: texts, lists: lists2}]

    - var cartsData = [cart1, cart3, cart2]
    include section/cart-section

    section.price-section
        .container
            .price-section__table-wrapper.style-4.style-3
                .price-section__table-inner
                    .price-section__titles-wrapper
                        +sectionTitle({
                            title: 'Стоимость процедур',
                            subtitle: 'лазерное удаление пигментных пятен Elit+ ',
                            class: 'price-section__title',
                            subclass: 'price-section__subtitle'
                        })
                    .price-section__data-wrapper.style-4.slider-data-0
                        .price-section__data-col
                            .price-section__data.style-4.style-3
                                +priceRow4({
                                    left: '<span>Единичный элемент</span>',
                                    right: '<span class="active-color">8400 ₽</span>'
                                })
                                +priceRow4({
                                    left: '<span>Кисти</span>',
                                    right: '<span class="active-color">8400 ₽</span>'
                                })
                                +priceRow4({
                                    left: '<span>Лицо</span>',
                                    right: '<span class="active-color">7900 ₽</span>'
                                })
                                +priceRow4({
                                    left: '<span>Лоб</span>',
                                    right: '<span class="active-color">4300 ₽</span>'
                                })
                        .price-section__data-col
                            .price-section__data.style-4.style-3
                                +priceRow4({
                                    left: '<span>Носогубный треугольник</span>',
                                    right: '<span class="active-color">3400 ₽</span>'
                                })
                                +priceRow4({
                                    left: '<span>Носогубный треугольник</span>',
                                    right: '<span class="active-color">5400 ₽</span>'
                                })
                                +priceRow4({
                                    left: '<span>Шея</span>',
                                    right: '<span class="active-color">14900 ₽</span>'
                                })
                                +priceRow4({
                                    left: '<span>Щека</span>',
                                    right: '<span class="active-color">10900 ₽</span>'
                                })
                    .price-section__dots.slider-data-0

mixin priceRow4(object)
    .price-section__row
        .price-section__col.price-section__col-left !{object.left}
        .price-section__col.price-section__col-right !{object.right}
mixin priceRowClean4(object)
    .price-section__row.flex-start
        .price-section__col.price-section__col-left !{object.left}