extends base/_layout
block head
    title Лазерная эпиляция бикини в Пензе - Orhi
    meta(property="og:title" content='Лазерная эпиляция бикини в Пензе - Orhi')
    meta(name="keywords" content='лазерная, эпиляция, бикини')
    meta(name="description" content='Лазерная эпиляция зоны бикини. Orhi - гарантия качества и доступной цены в Пензе! ☎ 8 (8412) 99-41-31')
    meta(property="og:description" content='Лазерная эпиляция зоны бикини. Orhi - гарантия качества и доступной цены в Пензе! ☎ 8 (8412) 99-41-31')
    meta(property="og:url" content='https://orhi-epil.ru/laserHairRemovalForBikiniArea.html')
block page
    - var breadcumps    = [{text: 'Главная', link: 'index.html'}, {text: 'лазерная эпиляция', link: 'laser-ep.html'}]
    - var breadcumpsCurrent = 'лазерная эпиляция зоны бикини'

    - var title         = 'Все нюансы'
    - var subtitle      = 'лазерная эпиляция зоны бикини'

    - var list01        = '<span>1.</span> Лазерную эпиляцию зоны бикини (впрочем, как и любой другой) следует делать только на медицинском лазере и в специализированном центре с лицензией.       Это – залог качественной и безопасной эпиляции.'
    - var list03        = '<span>2.</span> Лазер действует на волосы, которые находятся в стадии активного роста. Таких волос в среднем около 30%. Поэтому лазерная эпиляция бикини – это курсовая процедура. Как только остальные волосы перейдут в фазу активного роста – их тоже можно будет обработать в кабинете косметолога.'
    - var list04        = '<span>3.</span> В зависимости от лазера, который вам назначен – количество процедур в курсе будет меняться. Так, на диодном лазере средний курс составит 10-12 процедур, а на александрите 5-7 процедур.'
    - var list05        = '<span>4.</span> Также важно понимать! Зона бикини – это гормонозависимая зона. В связи с этим количество процедур в курсе может возрасти. Это зависит от индивидуальных особенностей вашего организма. '
    - var list06        = '<span>5.</span> Беременность – является противопоказанием к проведению лазерной эпиляции.'
    - var list07        = '<span>6.</span> А вот грудное вскармливание – не препятствует прохождению курса. Однако стоит знать, что в связи с гормональной перестройкой организма – средний курс также может возрасти. Но это необязательно.'
    - var list08        = '<span>7.</span> Подготовка к процедуре также будет меняться в зависимости от выбранного вами лазера. К примеру, для эпиляции на диодном лазере – нужна гладко выбритая кожа, а на александритовом лазере – необходимы волоски длиной        1-2 мм.'

    - var list11        = '<span>8.</span> Но есть правило, которое актуально для всех лазеров: это исключение загара. Свежий загар – это противопоказание для процедуры лазерного удаления волос.'
    - var list12        = '<span>9.</span> Обработка зоны бикини происходит относительно быстро и в среднем длиться от 15 до 25 минут.'
    - var list13        = '<span>10.</span> Чем светлее кожа и темнее волосок – тем эффективнее процедура лазерной эпиляции.'
    - var list14        = '<span>11.</span> 80% всех пациентов после лазерной эпиляции бикини утверждают, что это безболезненная процедура. Максимум, что чувствуется – это тепло и легкое покалывание.'
    - var list16        = '<span>12.</span> Лазерную эпиляцию зоны бикини можно делать, начиная с 18 лет. Раньше – только с письменного разрешения родителя или законного представителя.'
    - var list17        = '<span>13.</span> Уже после первой процедуры эпиляции с обработанной зоны исчезнет до 30% всех волос. Но заметите вы это только спустя 2-3 недели после обработки.'
    - var list18        = '<span>14.</span> Лазерную эпиляцию зоны бикини можно совмещать с обработкой других зон. Это абсолютно безопасно.'
    - var list19        = '<span>15.</span> В ходе курса волос на зоне будет оставаться все меньше – поэтому пациенты нередко сокращают область обработки, что позволяет уменьшить стоимость процедуры.'

    - var list0         = [list01, list02, list03, list04, list05, list06, list07, list08]
    - var list1         = [list11, list12, list13, list14, list15, list16, list17, list18, list19]

    - var message       = 'Также в течение трех дней после эпиляции бикини нужно воздержаться от использования скрабов и любой спиртосодержащей косметики.'

    - var data = {type: 'numberText', breadcumps: breadcumps, breadcumpsCurrent: breadcumpsCurrent, cur: cur, title: title, subtitle: subtitle, list0: list0, list1: list1, message: message}
    include section/intro-section


    - var infoList1     = {title: 'Какой лазер лучше выбрать для лазерной эпиляции бикини – диодный или александритовый?', text: 'Оба лазера эффективны, их даже можно чередовать. '}
    - var infoList2     = {title: 'Если я всегда делала шугаринг или ваксинг – через сколько можно начать курс лазерной эпиляции?', text: 'Через 14 дней после последней депиляции сахаром или воском.'}
    - var infoList3     = {title: 'Нужна ли анестезия для проведения процедуры лазерной эпиляции бикини? ', text: 'Нет, анестезия не требуется. Лазеры обладают функцией контактного или бесконтактного охлаждения – и сводят возможные неприятные ощущения к нулю.'}
    - var info          = [infoList1, infoList2, infoList3]
    - var data          = {info: info}
    include section/info-section


    - var price1 = {title: 'Зона лобка <span>(для женщин)</span>', price1: '2200 ₽', price2: '600 ₽', price3: '4400 ₽', price4: '1320 ₽'}
    - var price2 = {title: 'Зона лобка <span>(для мужчин)</span>', price1: '2800 ₽', price2: '840 ₽', price3: '5600 ₽', price4: '1680 ₽'}
    - var price3 = {title: 'Бикини неглубокое <span>(по линии белья)</span>', price1: '3300 ₽', price2: '990 ₽', price3: '6600 ₽', price4: '1980 ₽'}
    - var price4 = {title: 'Бикини глубокое <span>(для женщин)*</span>', price1: '4600 ₽', price2: '1380 ₽', price3: '9200 ₽', price4: '2760 ₽'}
    - var price5 = {title: 'Бикини глубокое <span>(для мужчин)</span>', price1: '5400 ₽', price2: '1620 ₽', price3: '10800 ₽', price4: '3240 ₽'}
    - var price6 = {title: 'Бикини "экстра" <span>(половые губы, межъягодичная складка)</span>', price1: '2700 ₽', price2: '810 ₽', price3: '5400 ₽', price4: '1620 ₽'}

    - var price = [price1, price2, price3, price4, price5, price6]
    - var data = {type: 'table', price: price, noneArear: true}
    include section/price-section
    .button-center
        a.btn.btn--pink.open-price-popup Подробнее о скидочной карте
