extends base/_layout
block head
    title Наш коллектив в Пензе - Orhi
    meta(property="og:title" content='Наш коллектив в Пензе - Orhi')
    meta(name="keywords" content='персонал в orhi, косметологи в orhi, коллектив орхи')
    meta(name="description" content='Коллектив центра лазерной эпиляции - Orhi ⭐ Наши врачи имеют высшее медицинское образование.')
    meta(property="og:description" content='Коллектив центра лазерной эпиляции - Orhi ⭐ Наши врачи имеют высшее медицинское образование.')
    meta(property="og:url" content='https://orhi-epil.ru/Sertificat.html')
block page
    section.intro-section
        .container
            .intro-section__wrapper
                .intro-section__breadcumps
                    +breadcrumbs([{text: 'Главная', link: 'index.html'}], 'Наши специалисты')
                .intro-section__titles-wrapper
                    +sectionTitle({
                        title: 'Наши специалисты',
                        class: 'intro-section__title',
                    })
                .intro-section__inner
                    .intro-section__text
                        p В клинике «Orhi» косметологические процедуры выполняют исключительно специалисты с медицинским образованием. Штат включает в себя шесть сотрудников: пять врачей дерматологов-косметологов и медицинская сестра с дополнительной профильной квалификацией в косметологии.
                        p Многие люди до сих пор ошибочно полагают, что провести процедуру пилинга или механической чистки может и косметолог-эстетист без медицинского образования. Однако это не так. Любая профессиональная процедура, предполагающая вмешательство в кожный покров – по закону должна выполняться специалистом с медицинским образованием.
                        p Это касается не только инъекций, но и всех других услуг, в том числе – пилингов, лазерной эпиляции, массажа.
                        p Здоровье и красота пациентов – это основные ценности нашего центра, и мы относимся к ним со всей серьёзностью.
                        p Также мы убеждены, что одного базового медицинского образования недостаточно. В сфере эстетической косметологии постоянно появляются новые подходы к работе, уникальные техники, инновационные препараты. Чтобы оказывать качественную и актуальную услугу – специалисты клиники «Orhi» регулярно посещают профильные обучения, семинары, проходят повышения квалификации.
                        p Нередко мы приглашаем в центр коллег - практикующих косметологов-преподавателей, для индивидуального углубленного обучения и повышения профильных навыков.
                        p Мы считаем, что только будучи в постоянном развитии и шагая в ногу с современными технологиями – можно качественно и профессионально выполнять эстетические процедуры пациентам.
    section.item-section
        .container
            .item-section__wrapper
                .item-section__inner
                    .item-section__arrow
                        .item-section__arrow-prev
                            +svgIcon({name: 'arrow'})
                        .item-section__arrow-next
                            +svgIcon({name: 'arrow'})
                    .item-section__data.slider-1


                        .item-section__col
                            .item-section__col-inner(data-active='team-1' data-all='team')
                                .item-section__col-header
                                    +itemColHeader({
                                        title: 'Синьковская Валерия',
                                        subtitle: 'Врач дерматолог-косметолог',
                                        img: 'images/content/item-section/0'
                                    })
                                .item-section__col-description
                                    a.item-section__col-btn
                                        span Подробнее
                                        +svgIcon({name: 'arrow'})
                                    .item-section__col-text
                                        h3.text--uppercase Образование:
                                        p 2011-2017 гг. -  ПГУ МИ Лечебное дело (Пензенский Государственный Медицинский Институт)
                                        p 2017-2019 гг. - Ординатура по специальности дерматовенерология (Пензенский Государственный Медицинский Институт)
                                        p В 2017 году прошла повышение квалификации по специальности «Косметология» в медицинском университете Реавиз, город Самара.
                                        p 2019 г. - Профессиональная переподготовка по косметологии для врачей дерматовенерологов (РУДН, Москва)
                                        h3.text--uppercase Регулярно проходит профильные обучения и повышения квалификации.
                                        p V Научно-практическая конференция дерматовенерологов «Григорьевские чтения» <br> Саратов, Май 2018
                                        p «Национальная Школа по инфекционным и дерматовенерологическим болезням» <br> Пенза, Сентябрь 2018
                                        p Научно-практическая Конференция «Междисциплинарные проблемы и актуальные вопросы в дерматовенерологии» <br> Пенза, Ноябрь 2018
                                        h3.text--uppercase Навыки:
                                        p VI Научно-практическая конференция дерматовенерологов «Григорьевские чтения» <br> Саратов, Май 2019
                                        p VI Медицинский Конгресс «Актуальные вопросы врачебной практики» <br> Ялта, Сентябрь 2019
                                        p Обучающий практикум «Коррекция рубцовых патологий» Московская ассоциация косметологов <br> Москва, Декабрь 2019
                                        p Обучающий практикум «Антивозрастная  медицина» Общество специалистов органо-тканевой и плацентарной терапии <br> Москва, Декабрь 2019
                                        p «Мультикислотные комбинированные химические пилинги» <br> МЕЛИС <br> Москва, Январь 2020
                                        p Практический семинар «Контурная пластика. Гармонизация лица с помощью внутридермальных филлеров» <br> Пенза, Январь 2020
                                        p «Примирение препаратов токсина ботулизма в косметологии и эстетической медицине» <br> Москва, Февраль 2020
                                        p Владеет профессиональными навыками эстетической косметологии.
                                        p Лазерная эпиляция с использованием систем Cynosure Elite+ и Melsytech Magic One. <br> Уходовые процедуры и чистка лица на профессиональной израильской косметике Holy Land. <br> Поверхностные и срединные пилинги. Timecode и Sesderma. <br> Пилинг BioRePeelCI3.
                                        h3.text--uppercase Инъекционные методики:
                                        p Мезотерапия лица, тела, волосистости части головы, Биоревитализация, Ботулинотерапия, Контурная коррекция губ, Контурная коррекция носогубных складок, Контурная коррекция скул, Контурная коррекция подбородка, Бланширование поверхностных морщин.

                        .item-section__col
                            .item-section__col-inner(data-active='team-2' data-all='team')
                                .item-section__col-header
                                    +itemColHeader({
                                        title: 'Милёхина <br> Екатерина',
                                        subtitle: 'Мед. сестра в косметологии, косметолог-эстетист',
                                        img: 'images/content/item-section/1'
                                    })
                                .item-section__col-description
                                    a.item-section__col-btn
                                        span Подробнее
                                        +svgIcon({name: 'arrow'})
                                    .item-section__col-text
                                        h3.text--uppercase Образование:
                                        p 2006 г. - Среднее специальное образование , Пензенский базовый мед. колледж 2006г, специальность «Сестринское дело»
                                        p 2018 г. - Центр современных технологий
                                        p «Перспектива»,специальность «Сестринское дело в косметологии»
                                        p Владение методикой «Испанского миоструктурного лифтинг-массажа» Школа массажных техник Е.Носовской,г.Москва,2019г
                                        p Курс обучения по программе: Химические пилинги <br> Mediderma,г.Москва,2019г
                                        p Курс базового обучения авторским методикам работы с препаратами бренда HL лаборатории Pharma <br> Cosmetics(Израиль), г. Москва,2019г
                                        p Цикл обучения по применению технологий лазерной эпиляции с использованием системы Magic One,2018г. <br>
                                        p Сертификат обучения на лазере Cynosure Elite+ , 2018г
                                        h3.text--uppercase Владеет профессиональными навыками эстетической косметологии.
                                        p Лазерная эпиляция с использованием систем Cynosure Elite+ и Melsytech Magic One.  Уходовые процедуры и чистка лица на профессиональной израильской косметике Holy Land. Испанский миоструктурный массаж лица.

                        .item-section__col
                            .item-section__col-inner(data-active='team-3' data-all='team')
                                .item-section__col-header
                                    +itemColHeader({
                                        title: 'Стаматова <br> Елена',
                                        subtitle: 'Врач дерматолог-косметолог',
                                        img: 'images/content/item-section/2'
                                    })
                                .item-section__col-description
                                    a.item-section__col-btn
                                        span Подробнее
                                        +svgIcon({name: 'arrow'})
                                    .item-section__col-text
                                        h3.text--uppercase Образование:
                                        p 2007-2013 г — Самарский Государственный Медицинский Университет ,по специальности педиатрия, квалификация «ВРАЧ»
                                        p 2013- 2015г  —  ординатура  на базе ФГБОУ ВПО "Пензенский государственный университет" по направлению "Дерматовенерология".
                                        p В 2017 году прошла повышение квалификации по специальности «Косметология» в медицинском университете Реавиз, <br> город Самара.
                                        p Индивидуальное обучение по ботулотксину типа А верхней, средней и нижней трети лица препаратом релатокс. тренер врач-косметолог Анна Давыдова <br> 2019 год. Пенза.
                                        p Индивидуальной обучение по контурной пластике с постановкой руки (коррекция нижней и средней трети лица) ,тренер врач-косметолог Анастасия Шарова, <br> Москва. 2019 год
                                        p Индивидуальной обучение по контурной пластике с постановкой руки (коррекция нижней и средней трети лица) ,тренер врач-косметолог Анна Смольянова, <br> Москва.2019 год
                                        p Индивидуальное обучение по ботулотксину типа А верхней, средней и нижней трети лица препаратом релатокс. тренер врач-косметолог Марина Розен, <br> 2021год. Пенза.
                                        p Онлайн школа безопасных инъекции. Тренер врач -косметолог Людмила Варуха.
                                        h3 Навыки:
                                        p Уходовые процедуры и чистка лица на профессиональной израильской косметике Holy Land. <br> Поверхностные и срединные пилинги Timecode и Sesderma. <br> Пилинг BioRePeelCI3.
                                        h3.text--uppercase Инъекционные методики:
                                        p Мезотерапия лица,тела,волосистости части головы, Биоревитализация, Ботулинотерапия, Контурная коррекция губ, Контурная коррекция носогубных складок, Контурная коррекция скул, Контурная коррекция подбородка, Бланширование поверхностных морщин.

                        .item-section__col
                            .item-section__col-inner(data-active='team-4' data-all='team')
                                .item-section__col-header
                                    +itemColHeader({
                                        title: 'Филина<br> Анна',
                                        subtitle: 'Врач дерматолог-косметолог',
                                        img: 'images/content/item-section/3'
                                    })
                                .item-section__col-description
                                    a.item-section__col-btn
                                        span Подробнее
                                        +svgIcon({name: 'arrow'})
                                    .item-section__col-text
                                        h3.text--uppercase Образование:
                                        p 2007-2013 г — Самарский Государственный Медицинский Университет ,по специальности лечебное дело, квалификация «ВРАЧ».
                                        p 2013- 2014 г  — интернатура в Саратовском государственном медицинском университете им.В.И.Разумовского по специальности врач дерматовенеролог.
                                        p В 2017 году прошла повышение квалификации по специальности «Косметология» в медицинском университете Реавиз, <br> город Самара.
                                        p В 2015 году прошла повышение квалификации по специальности «Косметология» в региональном центре повышения квалификации и переподготовки кадров ПГУ.
                                        p 21 мая -9 июня 2018 гг.: циклы повышения квалификации на базе кафедры эстетической медицины РУДН, г.Москва <br> «Применение препаратов токсина ботулизма в косметологии и эстетической медицине» <br> «Применение микроимплантов(препаратов контурной пластики) в косметологии и эстетической медицине».
                                        p «Синтез контурной пластики и ботулинотерапии в коррекции нижней трети лица и шей. Объединение научного и прикладного.» <br> Москва,15 апреля 2019 г.
                                        p XV Международная конференция ENTERestet <br> Последние достижения инъекционной косметологии. <br> Москва,апрель 2019 г.
                                        p intetCHARMMed Конгресс по косметологии и эстетической медицине <br> Москва,18-19 апреля 2019 года.
                                        p Осенний симпозиум IBSA «Гиалуронопластика передовыми инструментами. Profhilo - новый уровень инъекционных методов» <br> Саратов, сентябрь 2019 г.
                                        p Индивидуальное обучение по контурной пластике с постановкой руки (коррекция носогубных складок,техника бланширование,коррекция губ,коррекция подбородка) <br> тренер,Г.Ф.Муратбаева,Казань.
                                        p Косметологический форум AECF «Мужской взгляд на женскую красоту» <br> Самара, декабрь 2019 года.
                                        p Индивидуальной обучение по контурной пластике с постановкой руки (коррекция средней трети лица,коррекция скул,коррекция носослезной борозды,коррекция подбородка) ,тренер врач-косметолог Анастасия Шарова,Москва.
                                        h3.text--uppercase Владеет профессиональными навыками эстетической косметологии.
                                        p Лазерная эпиляция с использованием систем Cynosure Elite+ и Melsytech Magic One. Уходовые процедуры и чистка лица на профессиональной израильской косметике Holy Land. Поверхностные и срединные пилинги Timecode и Sesderma. Пилинг BioRePeelCI3.
                                        h3.text--uppercase Инъекционные методики:
                                        p Мезотерапия лица,тела,волосистости части головы. Биоревитализация. Ботулинотерапия. Контурная коррекция губ. Контурная коррекция носогубных складок. Контурная коррекция скул. Контурная коррекция подбородка. Бланширование поверхностных морщин.

                        .item-section__col
                            .item-section__col-inner(data-active='team-5' data-all='team')
                                .item-section__col-header
                                    +itemColHeader({
                                        title: 'Яковлева <br> Татьяна',
                                        subtitle: 'Врач дерматолог-косметолог',
                                        img: 'images/content/item-section/4'
                                    })
                                .item-section__col-description
                                    a.item-section__col-btn
                                        span Подробнее
                                        +svgIcon({name: 'arrow'})
                                    .item-section__col-text
                                        p В 2016 г. - закончила Медицинский Институт Пензенского Государственного Университета по специальности "Лечебное дело".
                                            p 2016- 2018 г. - ординатура по специальности "Дерматовенерология" на базе Пензенского областного клинического центра специализированных видов медицинской помощи.
                                            p В 2018 г. - профессиональная переподготовка по специальности "Косметология" в медицинском университете "Реавиз" г.Самара.
                                            h3.text--uppercase Начиная с 2016 года - активно совершенствует свои знания и навыки, посещая обучающие курсы и семинары:
                                            p Участвовала в обзорном семинаре "Омоложение кожи с помощью химических пилингов. Препараты MCP поверхностного и срединного действия в коррекции инволютивных изменений кожи".
                                            p Принимала участие в научно- практическом семинаре "Professional" (академия IPSEN)
                                            p Проходит обучения на тренингах по использованию препаратов для контурной пластики.
                                            p Обучение по применению технологий лазерной эпиляции с использованием систем Cynosure Elite+ и Melsytech Magic One.
                                            p Прошла курс базового обучения авторскими методиками работы с препаратами бренда Holy Land лаборатории Pharma Cosmetics (Израиль)
                                            p Прошла курс обучения по программе: химические пилинги Mediderma
                                            p Принимала участие в ежегодном Поволжском форуме для косметологов AECF
                                            p Окончила сертификационный курс «Применение препаратов токсина ботулизма в косметологии и эстетической медицине», г. Москва.
                                            p Проходит индивидуальную стажировку под руководством ведущих врачей-косметологов России.
                                            h3.text--uppercase Владеет профессиональными навыками эстетической косметологии.
                                            p Лазерная эпиляция с использованием систем Cynosure Elite+ и Melsytech Magic One. Уходовые процедуры и чистка лица на профессиональной израильской косметике Holy Land. Поверхностные и срединные пилинги Timecode и Sesderma. Пилинг BioRePeelCI3.
                                            h3.text--uppercase Инъекционные методики:
                                            p Мезотерапия лица,тела,волосистости части головы. Биоревитализация. Ботулинотерапия. Контурная коррекция губ. Контурная коррекция носогубных складок. Контурная коррекция скул. Контурная коррекция подбородка. Бланширование поверхностных морщин.

    section.intro-section.team-1.team
        .container
            .intro-section__wrapper
                .intro-section__inner
                    .intro-section__img
                        +setImg({
                            webp: 'images/content/about-page/01-pc.webp',
                            img: 'images/content/about-page/01-pc.jpg',
                            set: 'images/content/about-page/01-mb'
                        })
                    .intro-section__data
                        .intro-section__text.margin-top
                            h3 Образование:
                            p 2011-2017 гг. -  ПГУ МИ Лечебное дело (Пензенский Государственный Медицинский Институт)
                            p 2017-2019 гг. - Ординатура по специальности дерматовенерология (Пензенский Государственный Медицинский Институт)
                            p В 2017 году прошла повышение квалификации по специальности «Косметология» в медицинском университете Реавиз, город Самара.
                            p 2019 г. - Профессиональная переподготовка по косметологии для врачей дерматовенерологов (РУДН, Москва)
                            h3 Регулярно проходит профильные обучения и повышения квалификации.
                            p V Научно-практическая конференция дерматовенерологов «Григорьевские чтения» <br> Саратов, Май 2018
                            p «Национальная Школа по инфекционным и дерматовенерологическим болезням» <br> Пенза, Сентябрь 2018
                            p Научно-практическая Конференция «Междисциплинарные проблемы и актуальные вопросы в дерматовенерологии» <br> Пенза, Ноябрь 2018
                            h3 Навыки:
                            p VI Научно-практическая конференция дерматовенерологов «Григорьевские чтения» <br> Саратов, Май 2019
                            p VI Медицинский Конгресс «Актуальные вопросы врачебной практики» <br> Ялта, Сентябрь 2019
                            p Обучающий практикум «Коррекция рубцовых патологий» Московская ассоциация косметологов <br> Москва, Декабрь 2019
                            p Обучающий практикум «Антивозрастная  медицина» Общество специалистов органо-тканевой и плацентарной терапии <br> Москва, Декабрь 2019
                            p «Мультикислотные комбинированные химические пилинги» <br> МЕЛИС <br> Москва, Январь 2020
                            p Практический семинар «Контурная пластика. Гармонизация лица с помощью внутридермальных филлеров» <br> Пенза, Январь 2020
                            p «Примирение препаратов токсина ботулизма в косметологии и эстетической медицине» <br> Москва, Февраль 2020
                            p Владеет профессиональными навыками эстетической косметологии.
                            p Лазерная эпиляция с использованием систем Cynosure Elite+ и Melsytech Magic One. <br> Уходовые процедуры и чистка лица на профессиональной израильской косметике Holy Land. <br> Поверхностные и срединные пилинги. Timecode и Sesderma. <br> Пилинг BioRePeelCI3.
                            h3 Инъекционные методики:
                            p Мезотерапия лица, тела, волосистости части головы, Биоревитализация, Ботулинотерапия, Контурная коррекция губ, Контурная коррекция носогубных складок, Контурная коррекция скул, Контурная коррекция подбородка, Бланширование поверхностных морщин.
    section.intro-section.team-2.team
        .container
            .intro-section__wrapper
                .intro-section__inner
                    .intro-section__img
                        +setImg({
                            webp: 'images/content/about-page/02-pc.webp',
                            img: 'images/content/about-page/02-pc.jpg',
                            set: 'images/content/about-page/02-mb'
                        })
                    .intro-section__data
                        .intro-section__text.margin-top
                            h3 Образование:
                            p 2006 г. - Среднее специальное образование , Пензенский базовый мед. колледж 2006г, специальность «Сестринское дело»
                            p 2018 г. - Центр современных технологий
                            p «Перспектива»,специальность «Сестринское дело в косметологии»
                            p Владение методикой «Испанского миоструктурного лифтинг-массажа» Школа массажных техник Е.Носовской,г.Москва,2019г
                            p Курс обучения по программе: Химические пилинги <br> Mediderma,г.Москва,2019г
                            p Курс базового обучения авторским методикам работы с препаратами бренда HL лаборатории Pharma <br> Cosmetics(Израиль), г. Москва,2019г
                            p Цикл обучения по применению технологий лазерной эпиляции с использованием системы Magic One,2018г. <br>
                            p Сертификат обучения на лазере Cynosure Elite+ , 2018г
                            h3 Владеет профессиональными навыками эстетической косметологии.
                            ul
                                li Лазерная эпиляция с использованием систем Cynosure Elite+ и Melsytech Magic One.
                                li Уходовые процедуры и чистка лица на профессиональной израильской косметике Holy Land..
                                li Испанский миоструктурный массаж лица..
                                li Контурная коррекция губ.
                                li Контурная коррекция носогубных складок.
                                li Контурная коррекция скул.
                                li Контурная коррекция подбородка.
                                li Бланширование поверхностных морщин.

    section.intro-section.team-3.team
        .container
            .intro-section__wrapper
                .intro-section__inner
                    .intro-section__img
                        +setImg({
                            webp: 'images/content/about-page/03-pc.webp',
                            img: 'images/content/about-page/03-pc.jpg',
                            set: 'images/content/about-page/03-mb'
                        })
                    .intro-section__data
                        .intro-section__text.margin-top
                            h3 Образование:
                            p 2007-2013 г — Самарский Государственный Медицинский Университет ,по специальности педиатрия, квалификация «ВРАЧ»
                            p 2013- 2015г  —  ординатура  на базе ФГБОУ ВПО "Пензенский государственный университет" по направлению "Дерматовенерология".
                            p В 2017 году прошла повышение квалификации по специальности «Косметология» в медицинском университете Реавиз, <br> город Самара.
                            p Индивидуальное обучение по ботулотксину типа А верхней, средней и нижней трети лица препаратом релатокс. тренер врач-косметолог Анна Давыдова <br> 2019 год. Пенза.
                            p Индивидуальной обучение по контурной пластике с постановкой руки (коррекция нижней и средней трети лица) ,тренер врач-косметолог Анастасия Шарова, <br> Москва. 2019 год
                            p Индивидуальной обучение по контурной пластике с постановкой руки (коррекция нижней и средней трети лица) ,тренер врач-косметолог Анна Смольянова, <br> Москва.2019 год
                            p Индивидуальное обучение по ботулотксину типа А верхней, средней и нижней трети лица препаратом релатокс. тренер врач-косметолог Марина Розен, <br> 2021год. Пенза.
                            p Онлайн школа безопасных инъекции. Тренер врач -косметолог Людмила Варуха.
                            h3 Навыки:
                            ul
                                li Уходовые процедуры и чистка лица на профессиональной израильской косметике Holy Land.
                                li Поверхностные и срединные пилинги Timecode и Sesderma.
                                li Пилинг BioRePeelCI3.
                            h3 Инъекционные методики:
                            ul
                                li Мезотерапия лица,тела,волосистости части головы
                                li Биоревитализация
                                li Ботулинотерапия
                                li Контурная коррекция губ
                                li Контурная коррекция носогубных складок
                                li Контурная коррекция скул
                                li Контурная коррекция подбородка
                                li Бланширование поверхностных морщин
    section.intro-section.team-4.team
        .container
            .intro-section__wrapper
                .intro-section__inner
                    .intro-section__img
                        +setImg({
                            webp: 'images/content/about-page/04-pc.webp',
                            img: 'images/content/about-page/04-pc.jpg',
                            set: 'images/content/about-page/04-mb'
                        })
                    .intro-section__data
                        .intro-section__text.margin-top
                            h3 Образование:
                            p 2007-2013 г — Самарский Государственный Медицинский Университет ,по специальности лечебное дело, квалификация «ВРАЧ».
                            p 2013- 2014 г  — интернатура в Саратовском государственном медицинском университете им.В.И.Разумовского по специальности врач дерматовенеролог.
                            p В 2015 году прошла повышение квалификации по специальности «Косметология» в региональном центре повышения квалификации и переподготовки кадров ПГУ.
                            p 21 мая -9 июня 2018 гг.: циклы повышения квалификации на базе кафедры эстетической медицины РУДН, г.Москва <br> «Применение препаратов токсина ботулизма в косметологии и эстетической медицине» <br> «Применение микроимплантов(препаратов контурной пластики) в косметологии и эстетической медицине».
                            p «Синтез контурной пластики и ботулинотерапии в коррекции нижней трети лица и шей. Объединение научного и прикладного.» <br> Москва,15 апреля 2019 г.
                            p XV Международная конференция ENTERestet <br> Последние достижения инъекционной косметологии. <br>
                            p intetCHARMMed Конгресс по косметологии и эстетической медицине <br> Москва,18-19 апреля 2019 года.
                            p Осенний симпозиум IBSA «Гиалуронопластика передовыми инструментами. Profhilo - новый уровень инъекционных методов» <br> Саратов, сентябрь 2019 г.
                            p Индивидуальное обучение по контурной пластике с постановкой руки (коррекция носогубных складок,техника бланширование,коррекция губ,коррекция подбородка)  <br> тренер,Г.Ф.Муратбаева,Казань.
                            p Косметологический форум AECF «Мужской взгляд на женскую красоту» <br> Самара, декабрь 2019 года.
                            p Индивидуальной обучение по контурной пластике с постановкой руки (коррекция средней трети лица,коррекция скул,коррекция носослезной борозды,коррекция подбородка) <br> тренер врач-косметолог Анастасия Шарова,Москва.
                            h3 Владеет профессиональными навыками эстетической косметологии.
                            ul
                                li Лазерная эпиляция с использованием систем Cynosure Elite+ и Melsytech Magic One.
                                li Уходовые процедуры и чистка лица на профессиональной израильской косметике Holy Land.
                                li Поверхностные и срединные пилинги Timecode и Sesderma.
                                li Пилинг BioRePeelCI3.
                            h3 Инъекционные методики:
                                ul
                                    li Мезотерапия лица,тела,волосистости части головы.
                                    li Биоревитализация.
                                    li Ботулинотерапия.
                                    li Контурная коррекция губ.
                                    li Контурная коррекция носогубных складок.
                                    li Контурная коррекция скул.
                                    li Контурная коррекция подбородка.
                                    li Бланширование поверхностных морщин.
    section.intro-section.team-5.team
        .container
            .intro-section__wrapper
                .intro-section__inner
                    .intro-section__img
                        +setImg({
                            webp: 'images/content/about-page/05-pc.webp',
                            img: 'images/content/about-page/05-pc.jpg',
                            set: 'images/content/about-page/05-mb'
                        })
                    .intro-section__data
                        .intro-section__text.margin-top
                            h3 Образование:
                            p В 2016 г. - закончила Медицинский Институт Пензенского Государственного Университета по специальности "Лечебное дело".
                            p 2016- 2018 г. - ординатура по специальности "Дерматовенерология" на базе Пензенского областного клинического центра специализированных видов медицинской помощи.
                            p В 2018 г. - профессиональная переподготовка по специальности "Косметология" в медицинском университете "Реавиз" г.Самара.
                            h3 Начиная с 2016 года - активно совершенствует свои знания и навыки, посещая обучающие курсы и семинары:
                            p Участвовала в обзорном семинаре "Омоложение кожи с помощью химических пилингов. Препараты MCP поверхностного и срединного действия в коррекции инволютивных изменений кожи".
                            p Принимала участие в научно- практическом семинаре "Professional" (академия IPSEN)
                            p Проходит обучения на тренингах по использованию препаратов для контурной пластики.
                            p Обучение по применению технологий лазерной эпиляции с использованием систем Cynosure Elite+ и Melsytech Magic One.
                            p Прошла курс базового обучения авторскими методиками работы с препаратами бренда Holy Land лаборатории Pharma Cosmetics (Израиль)
                            p Прошла курс обучения по программе: химические пилинги Mediderma
                            p Принимала участие в ежегодном Поволжском форуме для косметологов AECF
                            p Окончила сертификационный курс «Применение препаратов токсина ботулизма в косметологии и эстетической медицине», г. Москва.
                            p Проходит индивидуальную стажировку под руководством ведущих врачей-косметологов России.
                            h3 Владеет профессиональными навыками эстетической косметологии.
                            ul
                                li Лазерная эпиляция с использованием систем Cynosure Elite+ и Melsytech Magic One.
                                li Уходовые процедуры и чистка лица на профессиональной израильской косметике Holy Land.
                                li Поверхностные и срединные пилинги Timecode и Sesderma.
                                li Пилинг BioRePeelCI3.
                            h3 Инъекционные методики:
                            ul
                                li Мезотерапия лица,тела,волосистости части головы.
                                li Биоревитализация.
                                li Ботулинотерапия.
                                li Контурная коррекция губ.
                                li Контурная коррекция носогубных складок.
                                li Контурная коррекция скул.
                                li Контурная коррекция подбородка.
                                li Бланширование поверхностных морщин.
mixin itemColHeader(object)
    .item-section__col-img
        +setImg({
            webp: object.img + '-pc.webp',
            img: object.img + '-pc.img',
            set: object.img + '-mb',
        })
    .item-section__col-subtitle !{object.subtitle}
    .item-section__col-title !{object.title}